<?xml version = "1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="course" class="com.sneha.model.Course">
        <constructor-arg name="id" value="100"/>
        <constructor-arg name="title" value="SNeha titele"/>
    </bean>
    <bean id="mathCheatObject" class="com.sneha.model.MathCheat"></bean>
    <bean id="scienceCheatObject" class="com.sneha.model.ScienceCheat"></bean>

    <bean id="noel" class="com.sneha.model.Student">
        <constructor-arg name="studentName" value="Snehaaaaa"/>
        <constructor-arg name="scienceCheat" ref="scienceCheatObject"/>
    </bean>

    <bean id="joel" class="com.sneha.model.Student">
        <constructor-arg name="studentName" value="Snehaaaaa"/>
        <constructor-arg ref="mathCheatObject"/>
<!--        if we do not specify the name attribute, it will work-->


    </bean>

</beans>